{{ define "main" }}
  <progress value="0" max='100'></progress>
  <aside class="toast">
  <div class="toast__inner">
    <div class="toast__text">Your last chapter was <span class="chapter">Bit Flinger</span></div>
    <ul class="toast__actions">
      <li id="action-yes">Go There</li>
      <li id='action-no'>Dismiss</li>
    </ul>
    </div>
  </aside>
<main>
  <article>
    <h1>{{.Title}}</h1>
    <p class="author">by {{.Params.Author}}</p>
    <div class="text">
      {{ .Content }}
    </div>
  </article>
</main>
  <footer>
    <div class="copyright">
      Text copyright © 1999 by Neal Stephenson </br>
      This site by <a href="http://johnmeguerian.com">jmegs</a>
    </div>
  </footer>

{{end}}